<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Annotations - ENGLISH/HINDI</title>
  <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
        type="text/css">
  <link href="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet"
        type="text/css">
  <link href="{{ url_for('static',filename='css/css/sb-admin.css') }}" rel="stylesheet" type="text/css">
  <script type="text/JavaScript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="{{ url_for('static',filename='js/jQuery-plugin-progressbar.js') }}"></script>
  <style>
    .progress {
      height: 1.5em;
      width: 100%;
      background-color: #c9c9c9;
      position: relative;
    }

    .progress:before {
      content: attr(data-label);
      font-size: 0.8em;
      position: absolute;
      text-align: center;
      top: 5px;
      left: 0;
      right: 0;
    }

    .progress .value {
      background-color: #7cc4ff;
      display: inline-block;
      height: 100%;
    }

    @keyframes toggle {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .selected {
      background-color: #ECF0F1;
    }
  </style>
  <script>
    var value = 0;

    function check_reload() {
      window.value += 1;
      console.log(window.value);
      if (window.value === 100) {
        alert('!!!!!!! Fetching more tweets from the server !!!!!!!!');
        location.reload();
        window.value = 0;
      }

    }
  </script>
</head>
<body id="page-top">
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
  <a class="navbar-brand mr-1" href="/home">HASOC</a>
  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
  </button>
  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" action="/logout">
    <button class="btn btn-danger text-white" type="submit">Logout</button>
  </form>
</nav>
<div id="wrapper">
  <ul class="sidebar navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="{{ url_for('home') }}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('annotated_tweets') }}">
        <i class="fas fa-fw fa-check-circle"></i>
        <span>Annotated Tweets</span>
      </a>
    </li>
    {% if session['user']=='admin' %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('stats') }}">
          <i class="fas fa-chart-bar"></i>
          <span>Statistics</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('manage_users') }}">
          <i class="fas fa-cogs"></i>
          <span>Manage users</span>
        </a>
      </li>
    {% endif %}
  </ul>
  <div id="content-wrapper">
    <div class="container-fluid">
      <ol class="breadcrumb">
        <h2>Welcome {{ name }}</h2>
      </ol>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/home">HASOC</a>
        </li>
        <li class="breadcrumb-item active">
          Dashboard
        </li>
        <div class="d-none d-md-inline-block form-inline ml-lg-auto mr-2">
          <div>
            Total remaining:- <span id="span_remaining">{{ records['remaining'] }}</span> tweets
            <b><div id="div_progress" class="progress" data-label="{{ str((records['remaining']/records['total']*100)//1) | safe }}%">
              <span id="span_progress" class="value" style="width:{{ str((records['remaining']/records['total']*100)//1) | safe }}%;"></span>
            </div></b>


          </div>
        </div>
        <script>
          function decrement() {
            var span_remaining = $('#span_remaining');
            var div_progress = $('#div_progress');
            var span_progress = $('#span_progress');
            var total={{ records['total'] | safe }};
            var val = parseInt(span_remaining.text());
            console.log('val',val);
            console.log(typeof total);
            console.log(span_progress[0].style.width);
            {#console.log(span_remaining);#}
            val -= 1;
            var progress=parseInt((val)/total*100);
            span_remaining.text(val);
            div_progress[0].dataset.label=(progress)+'%';
            span_progress[0].style.width=(progress)+'%';
            console.log(div_progress[0].dataset.label);
          }
        </script>
      </ol>
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Annotation Table
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-responsive" id="dataTable">
              <thead class="thead-dark">
              <tr>
                <th>id</th>
                <th>Tweet</th>
                <th>Actual Judgement</th>
              </tr>
              </thead>
              <tbody>
              {% for row in rows %}
                <tr id="row_{{ row[2] }}">
                  <td width="5%">
                    {{ row[0] + 1 }}
                  </td>
                  <td width="50%" style="position: relative">{{ row[1] }}
                    <small style="position: absolute;right: 0;bottom: 0; color: gray">
                      <form method="POST" id="form_incomplete_{{ row[2] }}">
                        <input type="hidden" value="{{ row[1] }}" name="tweet">
                        <input type="hidden" value="{{ row[2] }}" name="id_str">
                        Incomplete tweet? Report
                        <button class="btn btn-link"
                                style="font-size: 12px; padding-bottom: 2px; padding-left: 0; padding-right: 0; padding-top: 0; font-weight: bold;"
                                id="report_incomplete_{{ row[2] }}" type="button">
                          Here
                        </button>
                      </form>
                    </small>
                    <small style="position: absolute;left: 0;bottom: 0; color: gray">
                      <form method="POST" id="form_not_english_{{ row[2] }}">
                        <input type="hidden" value="{{ row[1] }}" name="tweet">
                        <input type="hidden" value="{{ row[2] }}" name="id_str">
                        Not a english/hindi tweet? Report
                        <button class="btn btn-link"
                                style="font-size: 12px; padding-bottom: 2px; padding-left: 0; padding-right: 0; padding-top: 0; font-weight: bold;"
                                id="report_not_english_{{ row[2] }}" type="button">
                          Here
                        </button>
                      </form>
                      <script type="text/javascript">
                        $(function () {
                          $('#report_not_english_{{ row[2] }}').click(function () {
                            data = $('#form_not_english_{{ row[2] }}').serialize();
                            data_array = $('#form_not_english_{{ row[2] }}').serializeArray();
                            if (confirm("Are you sure you want to submit?")){
                              $.ajax({
                                url: '/report_not_english',
                                data: $('#form_not_english_{{ row[2] }}').serialize(),
                                type: 'POST',
                                success: function (response) {
                                  console.log('response', response);
                                  button = $('#button_{{ row[2] }}');
                                  button.attr('disabled', 'disabled');
                                  reset = $('#reset_{{ row[2] }}');
                                  reset.attr('disabled', 'disabled');
                                  tr = $('#row_{{ row[2] }}');
                                  tr.addClass('selected');
                                  tr.addClass('text-muted');
                                  task_table = $('#task_table_{{ row[2] }}');
                                  task_table.addClass('text-muted');
                                  not_r = $("#not_{{ row[2] }}");
                                  hof_r = $("#hof_{{ row[2] }}");
                                  $(not_r).attr('disabled', 'disabled');
                                  $(hof_r).attr('disabled', 'disabled');
                                  hate = document.getElementById('hate_{{ row[2] }}');
                                  offn = document.getElementById('offn_{{ row[2] }}');
                                  prfn = document.getElementById('prfn_{{ row[2] }}');
                                  $(hate).attr('disabled', 'disabled');
                                  $(offn).attr('disabled', 'disabled');
                                  $(prfn).attr('disabled', 'disabled');
                                  unt = $("#unt_{{ row[2] }}");
                                  tin = $("#tin_{{ row[2] }}");
                                  $(unt).attr('disabled', 'disabled');
                                  $(tin).attr('disabled', 'disabled');
                                  report_inc = $("#report_incomplete_{{ row[2] }}");
                                  report_inc.attr('disabled', 'disabled');
                                  report_not = $("#report_not_english_{{ row[2] }}");
                                  report_not.attr('disabled', 'disabled');
                                  var table = $('#dataTable').DataTable();
                                  {% if (row[0] + 1) % 10 == 0 and (row[0]) != 0 %}
                                    table.page('next').draw('page');
                                  {% endif %}
                                  {% if row[0] < len(rows) - 1 %}
                                    var element = document.getElementById("row_{{ rows[row[0] + 1][2] }}");
                                    element.scrollIntoView({behavior: "smooth"});
                                  {% else %}
                                    var element = document.getElementById("row_{{ rows[row[0] - 1][2] }}");
                                    element.scrollIntoView({behavior: "smooth"});
                                  {% endif %}
                                  check_reload();
                                },
                                error: function (error) {
                                  console.log(error);
                                  alert('Error submitting the tweet! Server Offline');
                                  location.reload();
                                }
                              });
                            }
                          });
                        });
                        $(function () {
                          $('#report_incomplete_{{ row[2] }}').click(function () {
                            data = $('#form_incomplete_{{ row[2] }}').serialize();
                            data_array = $('#form_incomplete_{{ row[2] }}').serializeArray();
                            if (confirm("Are you sure you want to submit?")){
                              $.ajax({
                              url: '/report_incomplete',
                              data: $('#form_incomplete_{{ row[2] }}').serialize(),
                              type: 'POST',
                              success: function (response) {
                                var table = $('#dataTable').DataTable();
                                console.log('response', response);
                                button = $('#button_{{ row[2] }}');
                                reset = $('#reset_{{ row[2] }}');
                                reset.attr('disabled', 'disabled');
                                button.attr('disabled', 'disabled');
                                tr = $('#row_{{ row[2] }}');
                                tr.addClass('selected');
                                tr.addClass('text-muted');
                                task_table = $('#task_table_{{ row[2] }}');
                                task_table.addClass('text-muted');
                                not_r = $("#not_{{ row[2] }}");
                                hof_r = $("#hof_{{ row[2] }}");
                                $(not_r).attr('disabled', 'disabled');
                                $(hof_r).attr('disabled', 'disabled');
                                hate = document.getElementById('hate_{{ row[2] }}');
                                offn = document.getElementById('offn_{{ row[2] }}');
                                prfn = document.getElementById('prfn_{{ row[2] }}');
                                $(hate).attr('disabled', 'disabled');
                                $(offn).attr('disabled', 'disabled');
                                $(prfn).attr('disabled', 'disabled');
                                unt = $("#unt_{{ row[2] }}");
                                tin = $("#tin_{{ row[2] }}");
                                $(unt).attr('disabled', 'disabled');
                                $(tin).attr('disabled', 'disabled');
                                report_inc = $("#report_incomplete_{{ row[2] }}");
                                report_inc.attr('disabled', 'disabled');
                                report_not = $("#report_not_english_{{ row[2] }}");
                                report_not.attr('disabled', 'disabled');
                                {% if (row[0] + 1) % 10 == 0 and (row[0]) != 0 %}
                                  table.page('next').draw('page');
                                {% endif %}
                                {% if row[0] < len(rows) - 1 %}
                                  var element = document.getElementById("row_{{ rows[row[0] + 1][2] }}");
                                  element.scrollIntoView({behavior: "smooth"});
                                {% else %}
                                  var element = document.getElementById("row_{{ rows[row[0] - 1][2] }}");
                                  element.scrollIntoView({behavior: "smooth"});
                                {% endif %}
                                check_reload();
                              },
                              error: function (error) {
                                console.log(error);
                                alert('Error submitting the tweet! Server Offline');
                                location.reload();
                              }
                            });
                            }
                          });
                        });
                      </script>
                    </small>
                  </td>
                  <td align="center" width="32%">
                    <div class="table-responsive table-bordered">
                      <form id="form_{{ row[2] }}">
                        <input type="hidden" name="tweet" value="{{ row[1] }}">
                        <input type="hidden" name="id_str" value="{{ row[2] }}">
                        <input type="hidden" name="row_no" value="{{ row[0] }}">
                        <input type="hidden" name="lang" value="{{ row[3] }}">
                        <table class="table" id="task_table_{{ row[2] }}">
                          <tr>
                            <th>
                              Task 1
                            </th>
                            <th>
                              Task 2
                            </th>
                            <th>
                              Task 3
                            </th>
                            <th>
                              Submit
                            </th>
                          </tr>
                          <tr>
                            <td>
                              <div class="radio">
                                <label><input type="radio" name="task_1" value="NOT" required id="not_{{ row[2] }}">&nbsp;NOT</label>
                              </div>
                              <div class="radio">
                                <label><input type="radio" name="task_1" value="HOF" required id="hof_{{ row[2] }}">&nbsp;HOF</label>
                              </div>
                            </td>
                            <td>
                              <div class="radio">
                                <label id="hate_l_{{ row[2] }}"><input type="radio" name="task_2" value="HATE" required
                                                                       id="hate_{{ row[2] }}">&nbsp;HATE</label>
                              </div>
                              <div class="radio">
                                <label id="offn_l_{{ row[2] }}"><input type="radio" name="task_2" value="OFFN" required
                                                                       id="offn_{{ row[2] }}">&nbsp;OFFN</label>
                              </div>
                              <div class="radio">
                                <label id="prfn_l_{{ row[2] }}"><input type="radio" name="task_2" value="PRFN" required
                                                                       id="prfn_{{ row[2] }}">&nbsp;PRFN</label>
                              </div>
                            </td>
                            <td>
                              <div class="radio">
                                <label id="unt_l_{{ row[2] }}"><input type="radio" name="task_3" value="UNT"
                                                                      id="unt_{{ row[2] }}">&nbsp;UNT</label>
                              </div>
                              <div class="radio">
                                <label id="tin_l_{{ row[2] }}"><input type="radio" name="task_3" value="TIN"
                                                                      id="tin_{{ row[2] }}">&nbsp;TIN</label>
                              </div>
                            </td>
                            <td rowspan="3">
                              <button class="btn btn-dark" type="button" id="button_{{ row[2] }}" name="annot">Submit
                              </button>
                              <br><br>
                              <button class="btn btn-dark" type="reset" id="reset_{{ row[2] }}" name="reset">&nbsp;Reset&nbsp;
                              </button>
                            </td>
                            <script>
                              $(document).ready(function () {
                                $("#not_{{ row[2] }}").click(function () {
                                  hate = document.getElementById('hate_{{ row[2] }}');
                                  offn = document.getElementById('offn_{{ row[2] }}');
                                  prfn = document.getElementById('prfn_{{ row[2] }}');
                                  unt = document.getElementById('unt_{{ row[2] }}');
                                  tin = document.getElementById('tin_{{ row[2] }}');
                                  $(hate).attr('disabled', 'disabled');
                                  $(offn).attr('disabled', 'disabled');
                                  $(prfn).attr('disabled', 'disabled');
                                  $('#hate_l_{{ row[2] }}').attr('class', 'text-muted');
                                  $('#offn_l_{{ row[2] }}').attr('class', 'text-muted');
                                  $('#prfn_l_{{ row[2] }}').attr('class', 'text-muted');
                                  $(hate).removeAttr('checked');
                                  $(offn).removeAttr('checked');
                                  $(prfn).removeAttr('checked');
                                  $(unt).attr('disabled', 'disabled');
                                  $(tin).attr('disabled', 'disabled');
                                  $('#unt_l_{{ row[2] }}').attr('class', 'text-muted');
                                  $('#tin_l_{{ row[2] }}').attr('class', 'text-muted');
                                  $(unt).removeAttr('checked');
                                  $(tin).removeAttr('checked');
                                });
                              });
                              $(document).ready(function () {
                                $("#hof_{{ row[2] }}").click(function () {
                                  hate = document.getElementById('hate_{{ row[2] }}');
                                  offn = document.getElementById('offn_{{ row[2] }}');
                                  prfn = document.getElementById('prfn_{{ row[2] }}');
                                  unt = document.getElementById('unt_{{ row[2] }}');
                                  tin = document.getElementById('tin_{{ row[2] }}');
                                  {#console.log(hate, offn, prfn);#}
                                  $(hate).removeAttr('disabled');
                                  $(offn).removeAttr('disabled');
                                  $(prfn).removeAttr('disabled');
                                  $(unt).removeAttr('disabled');
                                  $(tin).removeAttr('disabled');
                                  $('#hate_l_{{ row[2] }}').removeAttr('class');
                                  $('#offn_l_{{ row[2] }}').removeAttr('class');
                                  $('#prfn_l_{{ row[2] }}').removeAttr('class');
                                  $('#unt_l_{{ row[2] }}').removeAttr('class');
                                  $('#tin_l_{{ row[2] }}').removeAttr('class');
                                });
                              });
                            </script>
                          </tr>
                        </table>
                      </form>
                      <script type="text/javascript">
                        $(function () {
                          $('#button_{{ row[2] }}').click(function () {
                            data = $('#form_{{ row[2] }}').serialize();
                            data_array = $('#form_{{ row[2] }}').serializeArray();
                            check = false;
                            var popped = false;
                            row = parseInt(data_array[2]['value']) + 1;
                            if (data_array.length > 5 && data_array[5]['name'] == 'task_2') {
                              if (data_array[5]['value'] === 'HATE' || data_array[5]['value'] === 'OFFN' || data_array[5]['value'] === 'PRFN') {
                                check = true;
                              } else {
                                check = false;
                              }
                            }
                            if (data_array.length > 4) {
                              if (data_array[4]['value'] === 'NOT' || data_array[4]['value'] === 'HOF') {
                                check = true;
                                console.log(data_array[4]);
                                if (data_array[4]['value'] === 'HOF' && data_array.length < 6) {
                                  check = false;
                                  alert('Please annotate for task 2 and task 3 in row ' + (row));
                                  popped = true;
                                  {#task_2=data_array[4]['name'];#}
                                  {#console.log(task_2)#}
                                }
                                if (data_array[4]['value'] === 'HOF' && data_array.length > 5) {
                                  if (data_array[5]['name'] != 'task_2') {
                                    check = false;
                                    alert('Please annotate for  task 2 in row ' + (row));
                                  }
                                }
                                if (data_array.length < 6 && data_array[4]['value'] === 'NOT') {
                                  check = true;
                                }
                                if (data_array.length < 7 && data_array[4]['value'] == 'HOF') {
                                  check = false;
                                  if (!popped) {
                                    alert('Please annotate for  task 3 in row ' + (row));
                                  }
                                }

                              } else {
                                check = false;
                                alert('Please annotate task 1 in row ' + row + ' first');
                              }
                            } else {
                              check = false;
                              alert('Please annotate for atleast one task in row ' + row)
                            }
                            if (check) {
                              $.ajax({
                                url: '/annot',
                                data: $('#form_{{ row[2] }}').serialize(),
                                type: 'POST',
                                success: function (response) {
                                  decrement();
                                  var span_remaining = $('#span_remaining');
                                  console.log(span_remaining);
                                  {#span_remaining.text()#}
                                  var table = $('#dataTable').DataTable();
                                  console.log('response', response);
                                  button = $('#button_{{ row[2] }}');
                                  button.attr('disabled', 'disabled');
                                  reset = $('#reset_{{ row[2] }}');
                                  reset.attr('disabled', 'disabled');
                                  tr = $('#row_{{ row[2] }}');
                                  tr.addClass('selected');
                                  tr.addClass('text-muted');
                                  task_table = $('#task_table_{{ row[2] }}');
                                  task_table.addClass('text-muted');
                                  not_r = $("#not_{{ row[2] }}");
                                  hof_r = $("#hof_{{ row[2] }}");
                                  $(not_r).attr('disabled', 'disabled');
                                  $(hof_r).attr('disabled', 'disabled');
                                  hate = document.getElementById('hate_{{ row[2] }}');
                                  offn = document.getElementById('offn_{{ row[2] }}');
                                  prfn = document.getElementById('prfn_{{ row[2] }}');
                                  $(hate).attr('disabled', 'disabled');
                                  $(offn).attr('disabled', 'disabled');
                                  $(prfn).attr('disabled', 'disabled');
                                  unt = $("#unt_{{ row[2] }}");
                                  tin = $("#tin_{{ row[2] }}");
                                  $(unt).attr('disabled', 'disabled');
                                  $(tin).attr('disabled', 'disabled');
                                  report_inc = $("#report_incomplete_{{ row[2] }}");
                                  report_inc.attr('disabled', 'disabled');
                                  report_not_english = $("#report_not_english_{{ row[2] }}");
                                  report_not_english.attr('disabled', 'disabled');
                                  {% if (row[0] + 1) % 10 == 0 and (row[0]) != 0 %}
                                    console.log('if')
                                    console.log({{ row[0] }})
                                    table.page('next').draw('page');
                                  {% endif %}
                                  {% if row[0] < len(rows) - 1 %}
                                    console.log('if 2')
                                    console.log({{ row[0] }})
                                    var element = document.getElementById("row_{{ rows[row[0] + 1][2] }}");
                                    element.scrollIntoView({behavior: "smooth"});
                                  {% else %}
                                    console.log('else')
                                    console.log({{ row[0] }})
                                    var element = document.getElementById("row_{{ rows[row[0] - 1][2] }}");
                                    element.scrollIntoView({behavior: "smooth"});
                                  {% endif %}
                                  console.log(row);

                                  check_reload();
                                },
                                error: function (error) {
                                  console.log(error);
                                  alert('Error submitting the tweet! Server Offline');
                                  location.reload();
                                }
                              });
                            }
                          });
                        });
                      </script>
                    </div>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © HASOC 2019</span>
        </div>
      </div>
    </footer>
  </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
<script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.js') }}"></script>
<script src="{{ url_for('static',filename='js/sb-admin.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>

</body>

</html>
